<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main class="main-body">
  <div class="collectedResources">
    <% resources.forEach(resource => { %>
      <div class="card text-dark bg-light mb-3" style="max-width: 150rem;">
        <div class="card-header"><a href="<%= resource.resourceLink %>"><h2><%= resource.resourceName %></h2></a></div>
        <div class="card-body">
          <h4 class="card-text"><%= resource.resourceDescription %></h4>
          <p class="card-title"><%= resource.resourceType %></p>
        </div>
      </div>
    <% }) %>
  </div>
  <div class="show-all-favorites"><a href="/profiles/<%= profile._id %>">Go Back</a></div>
</main>
<%- include('../partials/footer') %>