<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main class="main-body">
  <div class="userInfo">
    <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
    <h1><%= profile.name %></h1>
    <h1><%= user.email %></h1>
    <p></p>
  </div>
  <!-- <h1>Resources Liked:</h1> -->
  <div class="collectedResources">
    <% resources.forEach(resource => { %>
      <div class="card text-dark bg-light mb-3" style="max-width: 130rem;">
        <div class="card-header"><a href="<%= resource.resourceLink %>"><h2><%= resource.resourceName %></h2></a></div>
        <div class="card-body">
          <h4 class="card-text"><%= resource.resourceDescription %></h4>
          <p class="card-title"><%= resource.resourceType %></p>
        </div>
      </div>
    <% }) %>
  </div>
  <div class="show-all-favorites"><a href="/profiles/<%= profile._id %>/resources">Show All</a></div>
  <!-- <h1>Flashcard Reviews</h1> -->
  <article class="flashcards">
    <section class="flashcard">
      <p>Test</p>
    </section>
  </article>
</main>
<%- include('../partials/footer') %>
