<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <div class="userInfo">
    <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
    <h1><%= profile.name %></h1>
    <h1><%= user.email %></h1>
    <p></p>
  </div>
  <div class="collectedResources">
    <ul>
      <% resources.forEach(resource => { %>
        <li><%= resource.resourceName %></li>
      <% }) %>
    </ul>
  </div>
</main>
<%- include('../partials/footer') %>
