<%- include('../partials/html-head') %>
<script src="/javascript/onClick.js"></script>
<%- include('../partials/nav') %>
<main class="main-body">
  <div class="userInfo">
    <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
    <h1><%= profile.name %></h1>
    <h1><%= user.email %></h1>
    <!-- <p><%= profile.bio %></p> -->
    <input type="text" id="bio" name="bio" placeholder="Profile Bio">
    <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST">
      <button type="submit" class="btn btn-info">Edit Profile Bio</button>
    </form>
  </div>
  <!-- <h1>Resources Liked:</h1> -->
  <div class="collectedResources">
    <% resources.forEach(resource => { %>
      <div class="card text-dark bg-light mb-3" style="max-width: 130rem;">
        <div class="card-header"><a href="<%= resource.resourceLink %>"><h2><%= resource.resourceName %></h2></a></div>
        <div class="card-body">
          <h4 class="card-text"><%= resource.resourceDescription %></h4>
          <p class="card-title"><%= resource.resourceType %></p>
        </div>
      </div>
    <% }) %>
    <div class="show-all-favorites"><a style="font-size: 20px;" href="/profiles/<%= profile._id %>/resources">Show All</a></div>
  </div>
  <!-- <h1>Flashcard Reviews</h1> -->
  <div class="flash-container">
    <article class="flashcards">
      <section class="flashcard">
        <p>Front of Card</p>
      </section>
    </article>
    <div class="flashcard-buttons">
      <button type="submit">Next Card</button><br/>
      <button type="submit">Show Answer</button><br/>
      <a href="/profiles/<%= profile._id %>/flashcards/new"><button type="submit">Add New Cards</button></a>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>
