<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="main-body">
  <% if (user) { %>
  <h1>Latest Resource Additions</h1>
  <div class="latestResources">
    <% resources.forEach(resource => { %>
      <div class="card text-dark bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><a target="_blank" rel="noopener noreferrer" href="<%= resource.resourceLink %>"><h2><%= resource.resourceName %></h2></a></div>
        <div class="card-body">
          <h4 class="card-text"><%= resource.resourceDescription %></h4>
          <p class="card-title"><i><%= resource.associatedLanguage %> - <%= resource.resourceType %></i></p>
        </div>
      </div>
    <% }) %>
  </div>
  <h1>Scoreboards</h1>
  <div class="scoreboard">
    <img class="trophy" src="/images/trophy.png" alt="first place">
    <img class="placeholder" src="/images/placeholder.png" alt="placeholder">
    <img class="trophy" src="/images/trophy.png" alt="second place">
    <img class="placeholder" src="/images/placeholder.png" alt="placeholder">
    <img class="trophy" src="/images/trophy.png" alt="third place">
    <img class="placeholder" src="/images/placeholder.png" alt="placeholder">
  </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
