<%- include('./partials/html-head') %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<%- include('./partials/nav') %>

<main class="home-page">
  <h1>Latest Resource Additions</h1>
  <div class="latestResources">
    <% resources.forEach(resource => { %>
      <div class="card text-dark bg-light mb-3" style="max-width: 40rem;">
        <div class="card-header"><a href="<%= resource.resourceLink %>"><h2><%= resource.resourceName %></h2></a></div>
        <div class="card-body">
          <h4 class="card-text"><%= resource.resourceDescription %></h4>
          <p class="card-title"><i><%= resource.associatedLanguage %> - <%= resource.resourceType %></i></p>
        </div>
      </div>
    <% }) %>
  </div>
  <h1>Scoreboards</h1>
  <div class="scoreboard">
    <img src="/images/first.png" alt="first place">
    <img src="/images/placeholder.png" alt="placeholder">
    <img src="/images/second.png" alt="second place">
    <img src="/images/placeholder.png" alt="placeholder">
    <img src="/images/third.png" alt="third place">
    <img src="/images/placeholder.png" alt="placeholder">
  </div>
</main>

<%- include('./partials/footer') %>
