<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <div class="edit-resource">
    <h1>Edit Resource:</h1>
    <form action="/languages/<%= language._id %>/resources/<%= resource.resourceType %>/<%= resource._id %>?_method=PUT" method="POST">
      <input type="text" name="resourceName" placeholder="Resource Name" value="<%= resource.resourceName %>"> 
      <input type="text" name="resourceLink" placeholder="Resource Link" value="<%= resource.resourceLink %>"> 
      <input type="text" name="resourceDescription" placeholder="Resource Description" value="<%= resource.resourceDescription %>"> 
      <input type="text" name="resourceImg" placeholder="Image Link" value="<%= resource.resourceImg %>"> 
      <input type="text" name="associatedLanguage" placeholder="Associated Language" value="<%= resource.associatedLanguage %>"> 
      <label for="resourceType">Resource Type:</label>
        <select name="resourceType" id="resourceType">
          <option value="<%= resource.resourceType %>"><%= resource.resourceType %></option>
          <option value="Speaking">Speaking/Pronunciation</option>
          <option value="Writing">Writing</option>
          <option value="Reading">Reading</option>
          <option value="Listening">Listening</option>
          <option value="Grammar">Grammar</option>
          <option value="Dictionary">Dictionary</option>
        </select>
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
  </div>
</main>
<%- include('../partials/footer') %>