<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main class="main-body">
  <div class="browse-languages">
    <div class="new-language">
      <form class="add-language" action="/languages" method="POST"
        <label for="languageName">Add New Language:</label><br/>
          <input type="text" name="languageName" id="languageName"><br/>
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
    
    <div class="language-list">
      <% languages.forEach((language, idx)=> { %>
        <% if (user.profile._id.toString() == language.languageCreatedBy) { %>
          <form action="/languages/<%= language._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-lg btn-danger delete-lang">X</button>
          </form> 
        <% } %>
        <div class="accordion accordion-flush">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%= idx %>" aria-expanded="false" aria-controls="flush-collapse-<%= idx %>">
                <h1><%= language.languageName %></h1>
              </button>
            </h2>
            <div id="flush-collapse-<%= idx %>" class="accordion-collapse collapse" aria-labelledby="flush-heading-<%= idx %>" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a href="/languages/<%= language._id %>/resources/Dictionary"><li id="<%= language.languageName %>_dictionary" class="link">Dictionary</li></a>
                <a href="/languages/<%= language._id %>/resources/Grammar"><li id="<%= language.languageName %>_grammar" class="link">Grammar</li></a>
                <a href="/languages/<%= language._id %>/resources/Reading"><li id="<%= language.languageName %>_reading" class="link">Reading</li></a>
                <a href="/languages/<%= language._id %>/resources/Writing"><li id="<%= language.languageName %>_writing" class="link">Writing</li></a>
                <a href="/languages/<%= language._id %>/resources/Speaking"><li id="<%= language.languageName %>_speaking" class="link">Speaking</li></a>
                <a href="/languages/<%= language._id %>/resources/Listening"><li id="<%= language.languageName %>_listening" class="link">Listening</li></a>
              </div>
            </div>
          </div>
        </div>
      <% }) %>
  </div>
</main>
<%- include('../partials/footer') %>
