<%- include('../partials/html-head') %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<%- include('../partials/nav') %>
<main>

  <div class="language-list">
    <h2>Language List</h2>
    <ul>
     <% languages.forEach((language)=> { %>
      <li><%= language.languageName %>
        <form action="/languages/<%= language._id %>?_method=DELETE" method="POST">
          <button type-"submit" class="btn btn-lg btn-danger">X</button>
        </form> 
          <ul>
            <a href="/languages/<%= language._id %>/resources"><li id="<%= language.languageName %>_dictionary" class="link">Dictionary</li></a>
            <a href="/languages/<%= language._id %>/resources"><li id="<%= language.languageName %>_grammar" class="link">Grammar</li></a>
            <a href="/languages/<%= language._id %>/resources"><li id="<%= language.languageName %>_reading" class="link">Reading</li></a>
            <a href="/languages/<%= language._id %>/resources"><li id="<%= language.languageName %>_writing" class="link">Writing</li></a>
            <a href="/languages/<%= language._id %>/resources"><li id="<%= language.languageName %>_speaking" class="link">Speaking</li></a>
            <a href="/languages/<%= language._id %>/resources"><li id="<%= language.languageName %>_listening" class="link">Listening</li></a>
          </ul>
        </li>
      <% }) %>
    </ul>
  </div>

  <div class="new-language">
    <form class="add-language" action="/languages" method="POST"
      <label for="languageName">Add New Language:</label><br/>
        <input type="text" name="languageName" id="languageName"><br/>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
  </div>
</main>
<%- include('../partials/footer') %>
