<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main class="bg-light">
<h1><%= language.languageName %></h1>
<% resources.forEach(resource => { %>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <a href="<%= resource.resourceLink %>"><h5 class="card-name"><%= resource.resourceName %></h5></a>
        <!-- <h5 class="card-image"><%= resource.resourceImg %></h5> -->
        <p class="card-description"><%= resource.resourceDescription %></p>
        <% if (!resource.collectedBy.some(function(profile){return profile.equals(userHasResource)})) { %>
        <% //Favorite resource button %>
          <form action="/languages/<%= language._id %>/resources/<%= resource.resourceType %>/<%= resource._id %>/addToCollection?_method=PATCH" class="patch-resource" method="POST">
            <button type="submit" class="btn btn-lg btn-info">Favorite</button> 
          </form>
        <% } else { %>
          <% //Unfavorite resource button %>
          <form action="/languages/<%= language._id %>/resources/<%= resource.resourceType %>/<%= resource._id %>/removeFromCollection?_method=PATCH" class="patch-resource" method="POST">
            <button type="submit" class="btn btn-lg btn-warning">Unfavorite</button> 
          </form>
        <% } %> 
        <% //Delete resource button %>
        <form action="/languages/<%= language._id %>/resources/<%= resource.resourceType %>/<%= resource._id %>?_method=DELETE" class="delete-resource" method="POST">
          <button type="submit" class="btn btn-lg btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <% }) %>
  <a style="font-size: 20px;" href="/languages">Go Back</a>
</main>
<%- include('../partials/footer') %>
